head {
    margin: 0;
    padding: 0;
}

#main-nav {
    right: 1px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

ul {
    text-decoration: none;
}

li {
    display: inline;
    font-size: 15px;
}

li img {
    width: 25px;
}

li button {
    border: 3px;
    border-radius: 2px;
    background-color: #4285f4;
    font-size: 13px;
    color: white;
    font-weight: bold;
    
}